.git
.gitignore
.env
.env.example
node_modules
vendor
storage/logs/*
storage/framework/views/*
storage/framework/cache/*
storage/framework/sessions/*
bootstrap/cache/*.php
bootstrap/cache/*.json
tests
.phpunit.result.cache
.vscode
.idea
*.md
LICENSE
.dockerignore
Dockerfile
docker-compose*
